[client]

default-character-set = utf8



[mysqld]
character-set-client-handshake = FALSE
character-set-server = utf8
collation-server = utf8_general_ci


#make a crc32 of ip server
#server-id=2577252028
#replicate-do-db=PRODUCTION


#innodb
innodb_buffer_pool_size = 14G


#for master
log_bin                 = /var/log/mysql/mariadb-bin
log_bin_index           = /var/log/mysql/mariadb-bin.index

max_binlog_size         = 500M
expire_logs_days        = 15


#log
slow_query_log_file     = /var/log/mysql/mariadb-slow.log
long_query_time = 10


# * Fine Tuning
#
max_connections         = 100
connect_timeout         = 5
wait_timeout            = 600
max_allowed_packet      = 16M
thread_cache_size       = 128
sort_buffer_size        = 10M
bulk_insert_buffer_size = 16M
tmp_table_size          = 64M
max_heap_table_size     = 64M


[mysql]
default-character-set   = utf8
